{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}
{% block head %}
<link rel="icon" href=" assets/images/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href=" bower_components/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href=" assets/icon/themify-icons/themify-icons.css">

    <link rel="stylesheet" type="text/css" href=" assets/icon/icofont/css/icofont.css">

    <link rel="stylesheet" type="text/css" href=" assets/icon/feather/css/feather.css">

    <link rel="stylesheet" type="text/css" href=" assets/pages/j-pro/css/demo.css">
    <link rel="stylesheet" type="text/css" href=" assets/pages/j-pro/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href=" assets/pages/j-pro/css/j-pro-modern.css">

    <link rel="stylesheet" type="text/css" href=" assets/css/style.css">
    <link rel="stylesheet" type="text/css" href=" assets/css/jquery.mCustomScrollbar.css">
{% endblock %}
{% block body %}
     <div class="pcoded-content">
                        <div class="pcoded-inner-content">

                            <div class="main-body">
                                <div class="page-wrapper">

                                    <div class="page-header">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <div class="d-inline">
                                                        <h4>NEW USER</h4>
                                                     
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="page-header-breadcrumb">
                                                    <ul class="breadcrumb-title">
                                                        <li class="breadcrumb-item" style="float: left;">
                                                            <a href="../index.html"> <i class="feather icon-home"></i>
                                                            </a>
                                                        </li>
                                                        <li class="breadcrumb-item" style="float: left;"><a
                                                                href="#!">Ready To Use</a>
                                                        </li>
                                                        <li class="breadcrumb-item" style="float: left;"><a
                                                                href="#!">Registration Form</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">

                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Add New User Here</h5>
                                                       
                                                    </div>
                                                    <div class="card-block">
                                                        <div class="j-wrapper j-wrapper-640">
                                                        
                                                        {{ form_start(form,{'attr': {'class': 'j-pro','id':'j-pro'}})  }}
                                                            
                                                                
                                                                <div class="j-content">

                                                                    <div>
                                                                        <label class="j-label">First Name</label>
                                                                        <div class="j-unit">
                                                                            <div class="j-input">
                                                                                <label class="j-icon-right" for="name">
                                                                                    <i
                                                                                        class="icofont icofont-ui-user"></i>
                                                                                </label>
                                                                                
                                                                                    {{ form_widget(form.first_name,{'attr': {'id':'name'}}) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <label class="j-label">Last Name</label>
                                                                        <div class="j-unit">
                                                                            <div class="j-input">
                                                                                <label class="j-icon-right" for="last_name">
                                                                                    <i
                                                                                        class="icofont icofont-ui-user"></i>
                                                                                </label>
                                                                                {{ form_widget(form.last_name,{'attr': {'id':'last_name'}}) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div>
                                                                        <div>
                                                                            <label class="j-label">Email</label>
                                                                        </div>
                                                                        <div class="j-unit">
                                                                            <div class="j-input">
                                                                                <label class="j-icon-right" for="email">
                                                                                    <i
                                                                                        class="icofont icofont-envelope"></i>
                                                                                </label>
                                                                                {{ form_widget(form.email,{'attr': {'id':'email'}}) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div>
                                                                        <div>
                                                                            <label class="j-label ">Username</label>
                                                                        </div>
                                                                        <div class="j-unit">
                                                                            <div class="j-input">
                                                                                <label class="j-icon-right" for="username">
                                                                                    <i
                                                                                        class="icofont icofont-ui-check"></i>
                                                                                </label>
                                                                                {{ form_widget(form.Username,{'attr': {'id':'username'}}) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div>
                                                                            <label class="j-label ">Role User</label>
                                                                        </div>
                                                                        <div class="j-unit">
                                                                            <div class="j-input">
                                                                                <label class="j-icon-right" for="role">
                                                                                    <i
                                                                                        class="icofont icofont-ui-check"></i>
                                                                                </label>
                                                                                {{ form_widget(form.role,{'attr': {'id':'role'}}) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div>
                                                                        <div>
                                                                            <label class="j-label ">Password</label>
                                                                        </div>
                                                                        <div class="j-unit">
                                                                            <div class="j-input">
                                                                                <label class="j-icon-right"
                                                                                    for="password">
                                                                                    <i class="icofont icofont-lock"></i>
                                                                                </label>
                                                                                {{ form_widget(form.password,{'attr': {'id':'password'}}) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div>
                                                                        <div>
                                                                            <label class="j-label ">Job Title</label>
                                                                        </div>
                                                                        <div class="j-unit">
                                                                            <div class="j-input">
                                                                                <label class="j-icon-right" for="job_title">
                                                                                    <i
                                                                                        class="icofont icofont-ui-check"></i>
                                                                                </label>
                                                                                {{ form_widget(form.job_title,{'attr': {'id':'job_title'}}) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div>
                                                                        <div>
                                                                            <label class="j-label ">phoneNumber</label>
                                                                        </div>
                                                                        <div class="j-unit">
                                                                            <div class="j-input">
                                                                                <label class="j-icon-right" for="phone_number">
                                                                                    <i
                                                                                        class="icofont icofont-ui-check"></i>
                                                                                </label>
                                                                                {{ form_widget(form.phone_number,{'attr': {'id':'phone_number'}}) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    


                                                                    <div class="j-response"></div>

                                                                </div>
                                                                 <div class="form-check">

     


                                                                <div class="j-footer">
                                                                    <button type="submit"
                                                                        class="btn btn-primary" >{{ button_label|default('Save') }}</button>
                                                                </div>

                                                            
                                                           {{ form_end(form) }}
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="styleSelector">
                            </div>
                        </div>
                    </div>
                    
{% endblock %}
